.main{
  background-color: rgb(22, 146, 125);
  width: 100%;
  height: 100%;
}
.header{
  background-color: #333;
  height: 30px;
  /* overflow: hidden; */
  display: flex;
}

.header .label1{
  margin-left: 10px;
  font-size: 20px;
  color: white;
}

.header input{
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
}

.btn{
  border: 2px solid white;
  color: white;
  padding: 2.5px;
  border-radius: 5px;
  margin-left: 10px;
}

.btn:hover{
  background-color: white;
  color: black;
}

.name{
  padding: 12px;
  font-size: 50px;
  text-align: center;
}

.grid{
  /* border: 2px solid black; */
  /* padding-bottom: 6.5%; */
  width: 60%;
  height: 700px;
  margin-left: 20%;
  text-align: center;
}

.row{
  display: table;
  border: 2px solid black;
  text-align: center;
  width: 100%;
  /* height: 33%; */
  /* table-layout: fixed; */
}

.row label{
  display: table-cell;
  text-align: center;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 50px;
}

.row label:hover{
  box-shadow: 0 0 11px rgb(153, 230, 91); 
}